@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    font-family: Source Sans Pro;
    Background-color: #eee;
    font-weight: 400;
}

.date {
    font-size: 1em;
}

header h1 {
    font-family: Abril Fatface;
    color: black;
    text-align: center;
    margin: 0;
}

main h2 {
    font-family: Roboto Slab;
    margin-bottom: top: 0.5em;
    }

.newspaper-container {
    background-color: white;
    box-sizing: border-box;
    box-shadow: #ddd;
    width: 700px;
    border-radius: 15px;
    padding: 1em;
    margin: 3em auto;
}

main h5 {
    color: #dd3232;
    font-family: 'Abril Fatface';
}

title {
    text-align: center;
}

nav {
    border-top: solid #eee;
    border-bottom: solid #eee;
    margin: 1em 0;
    padding: 5px 0;
}

nav ul {
    list-style: none;
    margin 0;
}

nav li {
    display: inline-block;
    padding: 0 0.5em;
}

nav a {
    font-size: 0.8em;
    color: #777;
}


a:link {
    color: #777;
}

p {
    font-size: 1em;
    text-align: justify;
    padding: 0 10px;
}

.more-articles {
    border-top: 1px solid #eee;
    text-align: center;
}

.more-articles section {
    display: inline-block;
    width: 44%;
    margin: 0 1em;
}

.more-articles img {
    width: 100%;
}

.more-articles h4 {
    text-align: left;
    font-family: 'Roboto Slab';
}